* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
}
.wrapper {
  width: 100%;
  max-width: 100%;
  background-image: url("./assets/double-bubble-dark.png");
}
.heading {
  width: 50%;
  margin: 30px auto;
}
.heading h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
.sub-heading {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #f9f9f9;
  font-size: 1.15rem;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 30px;
  /* border: 3px solid purple; */
  width: 100%;
}
.game-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}
.grid-container {
  width: 60%;
}
.rules-container {
  width: 35%;
  max-width: 35%;
}
.box {
  display: inline-block;
  border: 1px solid blue;
  width: 10px;
  height: 10px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: wheat;
}

.on {
  background-color: black;
}

.box:hover {
  background-color: palevioletred;
}

.center {
  /* margin: auto; */
  display: table;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 10px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-top: 2rem;
}
nav a {
  font-size: 16px;
  color: #fff;
  /* text-decoration: none; */
  font-size: 18px;
  margin-right: 7rem;
}
nav a:hover {
  color: #0366d6;
}
nav h2 {
  font-size: 30px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content button {
  color: black;
  padding: 10px;
  display: block;
  min-width: 100px;
  margin-left: -1px;
  margin-bottom: -1px;
}
.dropdown-content button:hover {
  background-color: rgb(202, 201, 201);
  color: #333;
  border-bottom: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
